 @if(note){
  <mat-card class="container-fluid container-md" appearance="outlined" >
    <mat-card-header class="justify-content-center" >
      <mat-card-title ><h6>{{note.title}}</h6></mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="note.images[currentImageIndex]" alt="Photo">
    <mat-card-content>
        <div class="d-flex flex-column">
          <div *ngIf="note.audioUrl" class="px-3 py-2">
            <h3>Audio Note</h3>
            <audio controls [src]="note.audioUrl" class="w-100"></audio>
          </div>
            <div class=" d-flex justify-content-between mb-3">
                <button mat-button (click)="prevImage()">Previous</button>
                <button mat-button (click)="nextImage()">Next</button>
            </div>
            {{note.description}}
        </div>
    </mat-card-content>
    <mat-card-actions class="justify-content-around">
      <button mat-button (click)="goBackToNotes()">
        <mat-icon>arrow_back</mat-icon> Back
      </button>
        <button mat-button (click)="editNote()">
            <i class="material-icons">edit</i>Edit
          </button>
          <button mat-button color="warn" (click)="deleteNote()">
            <mat-icon>delete</mat-icon> Delete
          </button>
    </mat-card-actions>
  </mat-card>

 }