<div class="d-flex flex-column gap-1 container-fluid container-md" *ngIf="fuelDetails">
    <h2 class="text-center">{{fuelDetails.name}}</h2>

Starting Point
<mat-card appearance="outlined" class="mb-2">
    <mat-card-content>
      <div> {{ fuelDetails.startingPoint  }}</div>
    </mat-card-content>
  </mat-card>
  Destination
  <mat-card appearance="outlined" class="mb-2">
    <mat-card-content>
      <div>{{ fuelDetails.destination  }}</div>
    </mat-card-content>
  </mat-card>
  Distance
  <mat-card appearance="outlined" class="mb-2">
    <mat-card-content>
      <div> {{ fuelDetails.distance  }} km </div>
    </mat-card-content>
  </mat-card>
  Fuel Consumption
  <mat-card appearance="outlined" class="mb-2">
    <mat-card-content>
      <div>{{ fuelDetails.fuelConsumption }} L/100 km</div>
    </mat-card-content>
  </mat-card>
  Petrol Price
  <mat-card appearance="outlined" class="mb-2">
    <mat-card-content>
      <div> {{ fuelDetails.petrolPrice  }} PLN/L</div>
    </mat-card-content>
  </mat-card>
  Total Cost
  <mat-card appearance="outlined" class="mb-2">
    <mat-card-content>
      <div> {{ fuelDetails.totalCost  }} PLN</div>
    </mat-card-content>
  </mat-card>

  <div class="d-flex justify-content-around">
    <button mat-button (click)="goBackToFuel()">
      <mat-icon>arrow_back</mat-icon> Back
    </button>
    <button mat-button (click)="editFuel()">
      <i class="material-icons">edit</i>Edit
    </button>
    <button mat-button color="warn" (click)="deleteFuel()">
      <mat-icon>delete</mat-icon> Delete
    </button>
  </div>

</div>