<div class="container-fluid">
    <h2 class="text-center mb-3">Garage</h2>
    <div class="d-flex flex-column gap-2 mb-3">
        <button mat-raised-button class="w-100" *ngFor="let car of cars" (click)="navigateToCarDetails(car.id)" >
            <div class="d-flex align-items-center">
                <div class="">
                    <img [src]="car.image" alt="{{ car.name }}" width="40" height="40" style="border-radius: 50%; margin-right: 8px; object-fit: cover;">
                </div>
                <div class="">
                    {{ car.name }}
                </div>

                <button mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="editCar(car.id); $event.stopPropagation()">
                        <mat-icon>edit</mat-icon>
                        <span>Edit</span>
                    </button>
                    <button mat-menu-item (click)="deleteCar(car.id); $event.stopPropagation()">
                        <mat-icon>delete</mat-icon>
                        <span>Delete</span>
                    </button>
                </mat-menu>
            </div> 
        </button>
        <button mat-raised-button class="w-100" [routerLink]="['/garage-form']">Add Car</button>

    </div>



