<div class="d-flex flex-column gap-1 container-fluid container-md" >
    <h2 class="text-center">Insurance</h2>
@if(insurance){

Insurer
<mat-card appearance="outlined" class="mb-2">
    <mat-card-content>
      <div> {{ insurance.insurer }}</div>
    </mat-card-content>
  </mat-card>
  Type of Insurance
  <mat-card appearance="outlined" class="mb-2">
    <mat-card-content>
      <div>{{ insurance.typeOfInsurance }}</div>
    </mat-card-content>
  </mat-card>
  Service
  <mat-card appearance="outlined" class="mb-2">
    <mat-card-content>
      <div> {{ insurance.service }}</div>
    </mat-card-content>
  </mat-card>
  Policy Number
  <mat-card appearance="outlined" class="mb-2">
    <mat-card-content>
      <div>{{ insurance.policyNumber }}</div>
    </mat-card-content>
  </mat-card>
  Date of Contract Conclusion
  <mat-card appearance="outlined" class="mb-2">
    <mat-card-content>
      <div> {{ insurance.dateOfContractConclusion }}</div>
    </mat-card-content>
  </mat-card>
  Start of Insurance
  <mat-card appearance="outlined" class="mb-2">
    <mat-card-content>
      <div> {{ insurance.startOfInsurance }}</div>
    </mat-card-content>
  </mat-card>
  End of Insurance
  <mat-card appearance="outlined" class="mb-2">
    <mat-card-content>
      <div>{{ insurance.endOfInsurance }}</div>
    </mat-card-content>
  </mat-card>
  Phone Number to Call
  <mat-card appearance="outlined" class="mb-2">
    <mat-card-content>
      <div>{{ insurance.phoneNumberToCall }}</div>
    </mat-card-content>
  </mat-card>

  <div class="d-flex justify-content-around">
    <button mat-button [routerLink]="['/insurance-form',carId]">
      <i class="material-icons">edit</i>Edit
    </button>
    <button mat-button (click)="deleteInsurance()">
      <i class="material-icons">delete</i>Delete
    </button>
  </div>

}
@else{
  <h2 class="text-center">You don't have any insurance</h2>
    <button mat-button [routerLink]="['/insurance-form',carId]">
        <i class="material-icons">add</i>Add
      </button>
}
</div>


